
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/shoppers-gh-pages/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/shoppers-gh-pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/shoppers-gh-pages/css/magnific-popup.css">
    <link rel="stylesheet" href="~/shoppers-gh-pages/css/jquery-ui.css">
    <link rel="stylesheet" href="~/shoppers-gh-pages/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/shoppers-gh-pages/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/shoppers-gh-pages/css/aos.css">
    <link rel="stylesheet" href="~/shoppers-gh-pages/css/style.css">
  
</head>
<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form action="" class="site-block-top-search">
                                <span class="icon icon-search2"></span>
                                <input type="text" class="form-control border-0" placeholder="Search">
                            </form>
                        </div>
                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a href="/KullaniciAnaSayfa/Index/" class="js-clone-nav">TechnoTool</a>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <li><a href="/KullaniciAyarlar/Index/"><span class="icon icon-person"></span></a></li>
                                
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li class="">
                            <a href="/KullaniciAnaSayfa/Index/">Ana Sayfa</a>
                        </li>
                        <li><a href="/KullaniciMagaza/Index/">Mağaza</a></li>
                        <li><a href="/Katalog/Index/">Katalog</a></li>
                        <li><a href="/KullaniciIletisim/Index/">İLETİŞİM</a></li>
                        <li><a href="/KullaniciAyarlar/Index/">Ayarlar</a></li>
                    </ul>
                </div>
            </nav>
        </header>

       
       @RenderBody()

        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Başlıklar</h3>
                            </div>
                           
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Hizmet Anlayışımız</a></li>
                                    <li><a href="#">Dropshipping</a></li>
                                    <li><a href="#">Website Geliştirmesi</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Tarihimiz</a></li>
                                    <li><a href="#">Hardware</a></li>
                                    <li><a href="#">Software</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">Promo</h3>
                        <a href="#" class="block-6">
                            <img src="~/shoppers-gh-pages/images/pexels-pixabay-356056.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 class="font-weight-light  mb-0">Senin İçin En Doğru Cihazı Keşfet !</h3>
                            <p>Promo from  nuary 15 &mdash; 25, 2019</p>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li class="fa-linkedin"><a href="https://www.linkedin.com/in/atalay-berke-cin-198b48202/">https://www.linkedin.com/in/atalay-berke-cin-198b48202/</a></li>
                                <li class="fa-github"><a href="https://github.com/AtlyBerke">https://github.com/AtlyBerke</a></li>
                                <li class="email">berkecinofficial@gmail.com</li>
                            </ul>
                        </div>
                        <div class="block-7">

                        </div>
                    </div>
                </div>
                
            </div>
        </footer>
    </div>
    <script src="~/shoppers-gh-pages/js/jquery-3.3.1.min.js"></script>
    <script src="~/shoppers-gh-pages/js/jquery-ui.js"></script>
    <script src="~/shoppers-gh-pages/js/popper.min.js"></script>
    <script src="~/shoppers-gh-pages/js/bootstrap.min.js"></script>
    <script src="~/shoppers-gh-pages/js/owl.carousel.min.js"></script>
    <script src="~/shoppers-gh-pages/js/jquery.magnific-popup.min.js"></script>
    <script src="~/shoppers-gh-pages/js/aos.js"></script>
    <script src="~/shoppers-gh-pages/js/main.js"></script>

</body>
</html>
