@using TechnoTool_WebApp.Models.Siniflar
@model List<Urunler>

<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>ÜRÜNLERİMİZ</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                    @foreach (var x in Model)
                    {
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src="@x.gorsel1" alt="Image placeholder" class="img-fluid" style="height:270px;">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="/KullaniciMagaza/Index/">@x.urunad</a></h3>
                                    <p class="mb-0">@x.UrunAciklama</p>
                                    <p class="text-primary font-weight-bold">@x.marka</p>
                                </div>
                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>
